# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
flutter_*.snapshot

# IDE
.idea/
.vscode/

# Environment
.env

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/flutter_export_environment.zsh

# Miscellaneous
*.log
*.lock
*.DS_Store